
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>E-commerce product detail</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>E-commerce</a>
            </li>
            <li class="active">
                <strong>Product detail</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-5">


                            <div class="product-images">

                                <!-- <div> -->
                                    <!-- <div class="image-imitation">  -->
                                        <img src="{{productInterface.photo}}" width="400" height="300">
                                        <!-- <div *ngFor="let item of imgList ">
                                            <img src="{{item.photo}}" width="400" height="300">
                                        </div> -->
                                    <!-- </div> -->
                                <!-- </div> -->
                                <!-- <div>
                                    <div class="image-imitation">
                                        [IMAGE 2]
                                    </div>
                                </div>
                                <div>
                                    <div class="image-imitation">
                                        [IMAGE 3]
                                    </div>
                                </div> -->
                                <!-- <img src="{{productInterface.photo}}" width="400" height="300"> -->

                            </div>

                        </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                                {{productInterface.name}}
                            </h2>
                            <small>Supplier : {{productInterface.supplier}}</small>
                            <hr>
                            <div>
                                <button class="btn btn-primary pull-right">Add to cart</button>
                                <h1 class="product-main-price">${{productInterface.price}} <small class="text-muted">Exclude Tax</small> </h1>
                            </div>
                            <hr>
                            <h4>Product description</h4>

                            <div class="small text-muted">
                                {{productInterface.desc}}
                            </div>
                            <dl class="dl-horizontal m-t-md small">
                                <dt>Category</dt>
                                <dd>{{productInterface.category}}</dd>
                                <dt>Quantity</dt>
                                <dd>{{productInterface.quantity}}</dd>
                                <dt>Stock Availability</dt>
                                <dd>{{productInterface.in_stock}}</dd>
                                <dt>Created Date</dt>
                                <dd>{{productInterface.created_date  | date:'medium'}}</dd>
                               </dl>
                            <div class="text-right">
                                <div class="btn-group">
                                    <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                    <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with {{productInterface.supplier}} </button>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <div class="ibox-footer">
                    <span class="pull-right">
                        Full stock - <i class="fa fa-clock-o"></i> {{productInterface.created_date  | date:'medium'}}
                    </span>
                    <div *ngIf="!submittedProduct">
                        <button class="btn btn-outline-secondary" (click)="editProduct()">
                            Edit Product
                        </button>
                        <p>{{ message }}</p>
                    </div>
                    
                    
                </div>
            </div>

        </div>
    </div>




</div>







<div *ngIf="submittedProduct">
    <p>product-detail works!</p>

    <img src="{{productInterface.photo}}"width="900" height="400">

    
        <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control col-md-6" [(ngModel)]="productInterface.name" required          
            name="Product Name"
        />
        </div>
    
        <div class="form-group">
        <label>Description</label>
        <textarea rows="4" cols="50" [(ngModel)]="productInterface.desc" class="form-control col-md-6" >
            Enter Category description here...</textarea>
        </div>
            
        <div class="form-group">
        <label>Quantity</label>
            <input name="quantity" class="form-control" [(ngModel)]="productInterface.quantity" type="number" value="">
        </div>

        <div class="form-group">
        <label>Photo</label>
            <input name="photo" type="file"  (change)="onImgChanged($event)" required>
        </div>

        <div class="form-group">
        <label>Price (EGP)</label>
            <input name="price" class="form-control" type="number" [(ngModel)]="productInterface.price" value="">
        </div>

        <!-- <div class="form-group">
        <label>Created Date</label>
            <input name="created_date" class="form-control" type="datetime-local" [(ngModel)]="productInterface.created_date" value="">
        </div> -->

        <div class="form-group">
        <label>In Stock</label>
            <input type="checkbox" name="in_stock" [(ngModel)]="productInterface.in_stock" value="true">
        </div>

        <div class="form-group">
        <label>Supplier</label>
            <select class="form-control" name="supplier"  >
                <option >ahmed</option>
            </select>
        </div>  

        <div class="form-group">
        <label>Category</label>
            <select class="form-control" name="category" [(ngModel)]="productInterface.category" >
                <option *ngFor="let item of categoryList" [ngValue]="item['id']"> {{item['name']}}</option>
            </select>
        </div>  
        <div class="form-group">
            <button class="btn btn-outline-secondary" (click)="deleteProduct()">
            Delete
            </button>

            <button type="submit" class="btn btn-outline-secondary" (click)="updateProduct()">
            Update
            </button>
        </div>
        
    <br>    <br>   





</div>